{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center p-4">List de mes cadeaux pour Noel</h4>
                <div class="table-responsive">
                    <table id="mytable" class="table table-bordred table-striped">

                        <thead>
                        <th>Image</th>
                        <th>Designation</th>
                        <th>Age</th>
                        <th>prix</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        </thead>
                        <tbody>

                        <tr>
                            <td>
                                <img src="{{ asset('assets/img/decoration1.png') }}" alt=""
                                     class="img-thumbnail img_panier">
                            </td>
                            <td>IronMan</td>
                            <td>1 an</td>
                            <td>20.99 €</td>
                            <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" ><i class="fas fa-edit"></i></button></p></td>
                            <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" ><i class="fas fa-trash-alt"></i></button></p></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>



{% endblock %}
