{% extends 'base.html.twig' %}

{% block title %}Cadeau index{% endblock %}

{% block body %}
    <h1 class="text-center p-2">Cadeau index</h1>
    <div class="row">
        {% for cadeau in cadeaus %}
            <div class=" col-md-3 mx-2 my-2">
                <div class="decoration__data">
                    <img src="{{ asset("assets/img/decoration1.png") }}" alt="" class="decoration__img">
                    <h3 class="decoration__title">{{ cadeau.designation }}</h3>
                    <a href="{{ path('cadeau_show', {'id': cadeau.id}) }}" class="button button-link">Go Details</a>
                </div>
            </div>
        {% else %}
            <h5 class="text-center bg-warning">
                no records found
            </h5>
        {% endfor %}
    </div>


    <a href="{{ path('cadeau_new') }}">Create new</a>


{% endblock %}
