{% extends 'base.html.twig' %}

{% block title %}Nouveau Cadeau{% endblock %}

{% block body %}

    <h1>Ajouter un  cadeau</h1>

    {{ include('cadeau/_form.html.twig') }}

    <a href="{{ path('cadeau_index') }}" class="btn btn-info mx-3">Retour</a>
{% endblock %}
