{% extends 'base.html.twig' %}

{% block title 'liste' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/list_style.css') }}">
{% endblock %}

{% block body %}
    <div class="list_style">
        <div class="card w-25 my-5 mx-5">
            <div class="card-body">
                <h5 class="card-title">Categorie</h5>
                <p class="card-text">
                    Voir toutes les categories :
                </p>
                <a href="{{ path('categorie_index') }}" class="btn  btn-lg  btn-success my-4 mx-2">Voir</a>
            </div>
        </div>

        <div class="card w-25 my-5 mx-5">
            <div class="card-body">
                <h5 class="card-title">Cadeaux</h5>
                <p class="card-text">
                    Voir tous les cadeaux :
                </p>
                <a href="{{ path('cadeau_index') }}" class="btn btn-lg btn-success my-4 mx-2">Voir</a>
            </div>
        </div>
    </div>


{% endblock %}
