{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="d-flex bd-highlight mb-3">

        {% include 'admin/sidebar.html.twig' %}

       <table class="table mb-3 p-2 bd-highligh">
                <thead class="bg-warning">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Cadeaux-name</th>
                    <th scope="col">Show</th>
                </tr>
                </thead>
                <tbody class="">
                    {% set newPanier = [] %}
                    {% for item in panier %}
                        {% if item.cadeau not in newPanier %}
                            <tr>
                                <th >{{ number }}</th>
                                <td scope="row">{{ item.cadeau.designation }}</td>
                                <td scope="row"><a href="{{ path('pereNoel_cadeaux_cadeau', {"id" : item.cadeau.id}) }}"><button class="btn btn-info btn-xs" ><i class="fas fa-eye"></i></button></a></td>
                            </tr>
                            {% set  newPanier = newPanier|merge([item.cadeau])%}
                        {% endif %}
                        {% set number = number + 1 %}
                    {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}
