{% extends 'base.html.twig' %}

{% block title %}list des cadeaux : {% endblock %}

{% block body %}
    <div class="d-flex bd-highlight mb-3">

        {% include 'admin/sidebar.html.twig' %}

        <div class="table mb-3 p-2 bd-highligh">
            {% include 'admin/user_card.html.twig' %}
        </div>


    </div>


{% endblock %}
