

<div class="mr-auto p-2 bd-highlight longeur
        bg-{% if is_granted("ROLE_GESTION") %}success
        {% elseif is_granted("ROLE_SECRETARIAT") %}purple
        {% else %}dark{% endif %}">
    <div class="p-4 mt-5 mod-lolo">
        {% if is_granted("ROLE_SECRETARIAT") or is_granted("ROLE_ADMIN") %}
            <p class="p-4 border-bottom">
                <a class="text-decoration-none text-white font-weight-normal text-left" href="{{ path('pereNoel_adresses') }}">Adresses</a>
            </p>
        {% elseif is_granted("ROLE_GESTION") or is_granted("ROLE_ADMIN") %}
            <p class="p-4 text-white text-decoration-none border-bottom">
                <a class="text-decoration-none text-white font-weight-normal text-left" href="{{ path('pereNoel_cadeaux') }}">Cadeaux</a>
            </p>
            <p class="p-4 text-white text-decoration-none border-bottom">
                <a class="text-decoration-none text-white font-weight-normal text-left" href="{{ path('pereNoel_categories') }}">Categories</a>
            </p>
        {% else %}
            <p class="p-4 text-white text-decoration-none border-bottom">
                <a class="text-decoration-none text-white font-weight-normal text-left" href="{{ path('pereNoel_commandes') }}">Commandes</a>
            </p>
        {% endif %}
    </div>
</div>
