.list_style {
    display: flex;
    justify-content: space-between;
}

.card_user {
    display: flex;
    align-items: center;
}

.card_user img {
    margin-right: 5px;
    height: 50px;
    border-radius: 50%;
}
.card_user h6 a {
    font-weight: 300;
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
}

.img_panier {
    height: 80px;
    border-radius: 50%;
    border: dimgray;
}

.img_hover {
    transition: 90ms ;
    cursor: pointer;
}
.img_hover:hover {
    transform: scale(1.9);
}

.cat-link {
    transition: 2s;
}
.cat-link:hover {
    transform: scale(2);
}
