{% extends 'base.html.twig' %}

{% block title %}Modifier une Adresse{% endblock %}

{% block body %}
    <h1>Modifier l'adresse</h1>

    {{ include('adresse/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('adresse_index') }}" class="btn btn-info mx-3 my-3">Retour</a>

    {{ include('adresse/_delete_form.html.twig') }}
{% endblock %}
