{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <h1>Create new Categorie</h1>

    {{ include('categorie/_form.html.twig') }}

    <a href="{{ path('categorie_index') }}" class="btn btn-info mx-3">back to list</a>
{% endblock %}
